apiVersion: v2
name: data-space-connector
description: Umbrella Chart for the FIWARE Data Space Connector, combining all essential parts to be used by a participant.
type: application
version: 8.3.0
dependencies:
  - name: postgresql
    condition: postgresql.enabled
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.7.27
  # authentication
  - name: vcverifier
    condition: vcverifier.enabled
    version: 4.3.0
    repository: https://fiware.github.io/helm-charts
  - name: credentials-config-service
    condition: credentials-config-service.enabled
    version: 2.3.0
    repository: https://fiware.github.io/helm-charts
  - name: trusted-issuers-list
    condition: trusted-issuers-list.enabled
    version: 0.10.3
    repository: https://fiware.github.io/helm-charts
  - name: mysql
    condition: mysql.enabled
    version: 12.2.2
    repository: https://charts.bitnami.com/bitnami
  - name: dss-validation-service
    alias: dss
    condition: dss.enabled
    version: 0.0.14
    repository: https://fiware.github.io/helm-charts
  # authorization
  - name: odrl-pap
    condition: odrl-pap.enabled
    version: 2.3.0
    repository: https://fiware.github.io/helm-charts
  - name: apisix
    condition: apisix.enabled
    version: 3.5.1
    repository: oci://registry-1.docker.io/bitnamicharts
  # data-service
  - name: scorpio-broker-aaio
    alias: scorpio
    condition: scorpio.enabled
    repository: https://fiware.github.io/helm-charts
    version: 0.4.7
  - name: postgresql
    alias: postgis
    condition: postgis.enabled
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.7.27
  # issuance
  - name: keycloak
    condition: keycloak.enabled
    version: 25.2.0
    repository: oci://registry-1.docker.io/bitnamicharts
  # contract management
  - name: tm-forum-api
    condition: tm-forum-api.enabled
    version: 0.14.14
    repository: https://fiware.github.io/helm-charts
  - name: contract-management
    condition: contract-management.enabled
    version: 3.5.6
    repository: https://fiware.github.io/helm-charts
  # marketplace
  - name: business-api-ecosystem
    alias: marketplace
    condition: marketplace.enabled
    version: 0.11.22
    repository: https://fiware.github.io/helm-charts
  - name: community-operator
    alias: mongo-operator
    condition: mongo-operator.enabled
    version: 0.13.0
    repository: https://mongodb.github.io/helm-charts
