apiVersion: v2
name: data-space-connector
description: Umbrella Chart for the FIWARE Data Space Connector, combining all essential parts to be used by a participant.
type: application
version: 24.0.0
dependencies:
  - name: postgresql
    condition: postgresql.enabled
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 13.1.5
  # authentication
  - name: vcverifier
    condition: vcverifier.enabled
    version: 4.0.0
    repository: https://fiware.github.io/helm-charts
  - name: credentials-config-service
    condition: credentials-config-service.enabled
    version: 2.1.12
    repository: https://fiware.github.io/helm-charts
  - name: trusted-issuers-list
    condition: trusted-issuers-list.enabled
    version: 0.7.0
    repository: https://fiware.github.io/helm-charts
  - name: mysql
    condition: mysql.enabled
    version: 9.4.4
    repository: https://charts.bitnami.com/bitnami
  - name: dss-validation-service
    alias: dss
    condition: dss.enabled
    version: 0.0.14
    repository: https://fiware.github.io/helm-charts
  # authorization
  - name: odrl-pap
    condition: odrl-pap.enabled
    version: 0.3.0
    repository: https://fiware.github.io/helm-charts
  - name: apisix
    condition: apisix.enabled
    version: 3.5.1
    repository: oci://registry-1.docker.io/bitnamicharts
  # data-service
  - name: scorpio-broker-aaio
    alias: scorpio
    condition: scorpio.enabled
    repository: https://fiware.github.io/helm-charts
    version: 0.4.7
  - name: postgresql
    alias: postgis
    condition: postgis.enabled
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 13.1.5
  # issuance
  - name: keycloak
    condition: keycloak.enabled
    version: 24.6.1
    repository: https://charts.bitnami.com/bitnami
  # contract management
  - name: tm-forum-api
    condition: tm-forum-api.enabled
    version: 0.14.1
    repository: https://fiware.github.io/helm-charts
  - name: contract-management
    condition: contract-management.enabled
    version: 1.0.8
    repository: https://fiware.github.io/helm-charts
  # marketplace
  - name: business-api-ecosystem
    alias: marketplace
    condition: marketplace.enabled
    version: 0.11.19
    repository: https://fiware.github.io/helm-charts
  - name: mongodb
    condition: mongodb.enabled
    version: 16.5.21
    repository: oci://registry-1.docker.io/bitnamicharts
