apiVersion: v2
name: data-space-connector
description: Umbrella Chart for the FIWARE Data Space Connector, combining all essential parts to be used by a participant.
type: application
version: 8.5.0
dependencies:
  - name: decentralized-iam
    alias: decentralizedIam
    condition: decentralized-iam.enabled
    version: 1.1.0
    repository: https://fiware.github.io/decentralized-iam
  # data-service
  - name: scorpio-broker-aaio
    alias: scorpio
    condition: scorpio.enabled
    repository: https://fiware.github.io/helm-charts
    version: 0.4.12
  # issuance
  - name: keycloak
    condition: keycloak.enabled
    version: 25.2.0
    repository: oci://registry-1.docker.io/bitnamicharts
  # contract management
  - name: tm-forum-api
    condition: tm-forum-api.enabled
    version: 0.15.4
    repository: https://fiware.github.io/helm-charts
  - name: contract-management
    condition: contract-management.enabled
    version: 3.5.12
    repository: https://fiware.github.io/helm-charts
  # marketplace
  - name: business-api-ecosystem
    alias: marketplace
    condition: marketplace.enabled
    version: 0.11.26
    repository: https://fiware.github.io/helm-charts
  - name: community-operator
    alias: mongo-operator
    condition: mongo-operator.enabled
    version: 0.13.0
    repository: https://mongodb.github.io/helm-charts
