{{- if .Values.credentials.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: credentials-script
  namespace: {{ $.Release.Namespace | quote }}
data:
  get-credential.sh: |-
    #!/bin/sh

    wget -O jq https://github.com/stedolan/jq/releases/download/jq-1.8.1/jq-linux64
    chmod +x ./jq
    
    {{- $values := .Values.credentials -}}
    {{- range $index, $config := .Values.credentials.configurations }}
    access_token=$(curl -k -X POST "{{ $values.keycloak.address }}/realms/{{ $values.keycloak.realm }}/protocol/openid-connect/token" \
      --header 'Accept: */*' \
      --header 'Content-Type: application/x-www-form-urlencoded' \
      --data grant_type=password \
      --data client_id={{ $values.keycloak.clientId }} \
      --data username={{ $values.keycloak.username }} \
      --data scope={{ $values.keycloak.scope }} \
      --data password={{ $values.keycloak.password }} | ./jq '.access_token' -r)

    offer_uri=$(curl -k -X GET "{{ $values.keycloak.address }}/realms/{{ $values.keycloak.realm }}/protocol/oid4vc/credential-offer-uri?credential_configuration_id={{ $config.id }}" \
      --header "Authorization: Bearer ${access_token}" | ./jq '"\(.issuer)\(.nonce)"' -r)

    replaced_host_url=$(echo "$offer_uri" | sed -E "s|^https?://[^/]+|{{ $values.keycloak.address }}|")

    echo OU $replaced_host_url

    export pre_authorized_code=$(curl -k -X GET ${replaced_host_url} \
      --header "Authorization: Bearer ${access_token}" | ./jq '.grants."urn:ietf:params:oauth:grant-type:pre-authorized_code"."pre-authorized_code"' -r)

    echo PAC $pre_authorized_code

    credential_access_token=$(curl -k -X POST "{{ $values.keycloak.address }}/realms/{{ $values.keycloak.realm }}/protocol/openid-connect/token" \
      --header 'Accept: */*' \
      --header 'Content-Type: application/x-www-form-urlencoded' \
      --data grant_type=urn:ietf:params:oauth:grant-type:pre-authorized_code \
      --data pre-authorized_code=${pre_authorized_code} | ./jq '.access_token' -r)

    echo CAT $credential_access_token

    curl -s -k -X POST "{{ $values.keycloak.address }}/realms/{{ $values.keycloak.realm }}/protocol/oid4vc/credential" \
      --header 'Accept: */*' \
      --header 'Content-Type: application/json' \
      --header "Authorization: Bearer ${credential_access_token}" \
      --data "{\"credential_identifier\":\"{{ $config.id }}\", \"format\":\"{{ $config.format }}\"}" | ./jq '.credential' -r > $1/{{ $config.targetFile }}

    if [ -s $1/{{ $config.targetFile }} ]; then 
      cat $1/{{ $config.targetFile }}
    else 
      exit 1
    fi
    {{- end }}
{{- end }}