{{- if or (and (eq .Values.didJson.enabled true) (eq .Values.didJson.ingress.enabled true)) (eq .Values.identityhub.didIngress.enabled true) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: did-json
  namespace: {{ $.Release.Namespace | quote }}
  annotations:
    {{- with .Values.didJson.ingress.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{ include "dsc.labels" . | nindent 4 }}
spec:
  {{- if .Values.didJson.ingress.tlsSecret }}
  tls:
    - hosts:
      - {{ .Values.didJson.ingress.host }}
      secretName: {{ .Values.didJson.ingress.tlsSecret }}
  {{- end }}
  rules:
    - host: {{ .Values.didJson.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                {{- if (eq .Values.identityhub.didIngress.enabled true)}}
                name: {{ .Values.identityhub.didIngress.service }}
                port:
                  name: {{ .Values.identityhub.didIngress.port }}
                {{- else }}
                name: did-json
                port:
                  name: http
                {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: did-json-unsecured
  namespace: {{ $.Release.Namespace | quote }}
  annotations:
    {{- with .Values.didJson.ingress.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{ include "dsc.labels" . | nindent 4 }}
spec:
  rules:
    - host: {{ .Values.didJson.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                {{- if (eq .Values.identityhub.didIngress.enabled true)}}
                name: {{ .Values.identityhub.didIngress.service }}
                port:
                  name: {{ .Values.identityhub.didIngress.port }}
                {{- else }}
                name: did-json
                port:
                  name: http
                {{- end }}
{{- end }}
