{{- if and .Values.didJson.enabled .Values.didJson.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: did-json
  namespace: {{ $.Release.Namespace | quote }}
  annotations:
    {{- with .Values.didJson.ingress.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    traefik.ingress.kubernetes.io/service.passhostheader: "true"
  labels:
    {{ include "dsc.labels" . | nindent 4 }}
spec:
  {{- if .Values.didJson.ingress.tlsSecret }}
  tls:
    - hosts:
      - {{ .Values.didJson.ingress.host }}
      secretName: {{ .Values.didJson.ingress.tlsSecret }}
  {{- end }}
  rules:
    - host: {{ .Values.didJson.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: did-json
                port:
                  name: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: did-json-unsecured
  namespace: {{ $.Release.Namespace | quote }}
  annotations:
    traefik.ingress.kubernetes.io/service.passhostheader: "true"
  labels:
    {{ include "dsc.labels" . | nindent 4 }}
spec:
  rules:
    - host: {{ .Values.didJson.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: did-json
                port:
                  name: http
{{- end }}
