{{- if .Values.didJson.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: did-json
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    {{ include "dsc.labels" . | nindent 4 }}
data:
  did.json: |-
    {
      "@context": "https://www.w3.org/ns/did/v1",
      "id": {{ .Values.didJson.did | quote }},
      "verificationMethod": [
        {
          "id": {{ .Values.didJson.did | quote }},
          "type": "JsonWebKey2020",
          "controller": {{ .Values.didJson.did | quote }},
          "publicKeyJwk": {
            {{- if .Values.didJson.key.kty }}
            "kty": {{ .Values.didJson.key.kty | quote }},
            {{- else }}
            "kty: "RSA",
            {{- end }}
            {{- if eq .Values.didJson.key.kty "RSA" }}
            "e": {{ .Values.didJson.key.exponent | quote }},
            "n": {{ .Values.didJson.key.modulus | quote }},
            {{- end }}
            {{- if eq .Values.didJson.key.kty "EC" }}
            "crv": {{ .Values.didJson.key.crv | quote }},
            "x": {{ .Values.didJson.key.xCoord | quote }},
            "y": {{ .Values.didJson.key.yCoord | quote }},
            {{- end }}
            {{- if .Values.didJson.key.x5u }}
            "x5u": {{ .Values.didJson.key.x5u | quote }}
            {{- end }}
          }
        }
      ]
    }
{{- end }}
