{{- if .Values.dsp.enabled }}
{{- range $name, $deployment := .Values.dsp.deployment }}
{{- $cfg := mergeOverwrite (deepCopy $.Values.dsp.common) $deployment }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dsp-controlplane-{{ $name }}
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: dsp-controlplane
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/component: {{ $name }}

spec:
  replicas: {{ $cfg.deployment.replicaCount }}

  revisionHistoryLimit: {{ $cfg.deployment.revisionHistoryLimit }}

  strategy:
    {{- toYaml $cfg.deployment.updateStrategy | nindent 4 }}

  selector:
    matchLabels:
      app.kubernetes.io/name: dsp-controlplane
      app.kubernetes.io/component: {{ $name }}

  template:
    metadata:
      labels:
        app.kubernetes.io/name: dsp-controlplane
        app.kubernetes.io/component: {{ $name }}
        {{- with $cfg.deployment.additionalLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with $cfg.deployment.additionalAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

    spec:
      serviceAccountName: default

      {{- with $cfg.imagePullSecrets }}
      imagePullSecrets:
        {{- range . }}
        - name: {{ . }}
        {{- end }}
      {{- end }}

      {{- with $cfg.deployment.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      hostAliases:
        - ip: "192.168.2.224"
          hostnames:
            - "local-host"

      containers:
        - name: dsp
          image: "{{ $cfg.deployment.image.repository }}:{{ $cfg.deployment.image.tag }}"
          imagePullPolicy: {{ $cfg.deployment.image.pullPolicy }}

          {{- with $cfg.deployment.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with $cfg.deployment.args }}
          args:
            - --log-level=debug
            {{- toYaml . | nindent 12 }}
          {{- end }}

          ports:
            - name: http
              containerPort: {{ $cfg.config.web.http.port }}
            - name: http-version
              containerPort: {{ $cfg.config.web.http.version.port }}
            - name: http-management
              containerPort: {{ $cfg.config.web.http.management.port }}
            - name: http-protocol
              containerPort: {{ $cfg.config.web.http.protocol.port }}
            - name: http-catalog
              containerPort: {{ $cfg.config.web.http.catalog.port }}
            - name: http-control
              containerPort: {{ $cfg.config.web.http.control.port }}
            - name: http-tck
              containerPort: {{ $cfg.config.testExtension.controller.port }}

          livenessProbe:
            httpGet:
              path: {{ $cfg.deployment.path }}/check/liveness
              port: http
            initialDelaySeconds: {{ $cfg.deployment.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ $cfg.deployment.livenessProbe.periodSeconds }}
            successThreshold: {{ $cfg.deployment.livenessProbe.successThreshold }}
            timeoutSeconds: {{ $cfg.deployment.livenessProbe.timeoutSeconds }}

          readinessProbe:
            httpGet:
              path: {{ $cfg.deployment.path }}/check/readiness
              port: http
            initialDelaySeconds: {{ $cfg.deployment.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ $cfg.deployment.readinessProbe.periodSeconds }}
            successThreshold: {{ $cfg.deployment.readinessProbe.successThreshold }}
            timeoutSeconds: {{ $cfg.deployment.readinessProbe.timeoutSeconds }}

          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -Dhttps.proxyHost=squid-proxy.infra.svc.cluster.local
                -Dhttps.proxyPort=8888
                -Dhttp.proxyHost=squid-proxy.infra.svc.cluster.local
                -Dhttp.proxyPort=8888
                -Dhttp.nonProxyHosts="*-vault|*.cluster.local"

            - name: EDC_FS_CONFIG
              value: /config/dataspaceconnector-configuration.properties

            {{- with $cfg.additionalEnvVars }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

          volumeMounts:
            - name: config-properties
              mountPath: /config/dataspaceconnector-configuration.properties
              subPath: dataspaceconnector-configuration.properties

            {{- with $cfg.deployment.additionalVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

          resources:
            {{- toYaml $cfg.deployment.resources | nindent 12 }}

      volumes:
        - name: config-properties
          configMap:
            name: dsp-controlplane-{{ $name }}

        {{- with $cfg.deployment.additionalVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}

      {{- with $cfg.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with $cfg.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with $cfg.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

{{- end }}
{{- end }}
