{{- if .Values.dsp.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: dsp-controlplane
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: dsp-dataplane
    {{ include "dsc.labels" . | nindent 4 }}
data:
  dataspaceconnector-configuration.properties: |
    default.http.https.resolution=true

    oid4vp.enabled={{ .Values.dsp.config.oid4vp.enabled }}
    oid4vp.clientId={{ .Values.dsp.config.oid4vp.clientId }}
    oid4vp.scope={{ .Values.dsp.config.oid4vp.scope }}
    oid4vp.trustAll={{ .Values.dsp.config.oid4vp.trustAll }}
    oid4vp.holder.id={{ .Values.dsp.config.oid4vp.holder.id }}
    oid4vp.holder.kid={{ .Values.dsp.config.oid4vp.holder.kid }}
    oid4vp.holder.key.type={{ .Values.dsp.config.oid4vp.holder.key.type }}
    oid4vp.holder.key.path={{ .Values.dsp.config.oid4vp.holder.key.path }}
    oid4vp.holder.signatureAlgorithm={{ .Values.dsp.config.oid4vp.holder.signatureAlgorithm }}
    oid4vp.credentialsFolder={{ .Values.dsp.config.oid4vp.credentialsFolder }}
    oid4vp.trustAnchorsFolder={{ .Values.dsp.config.oid4vp.trustAnchorsFolder }}
    oid4vp.organizationClaim={{ .Values.dsp.config.oid4vp.organizationClaim }}
    oid4vp.proxy.enabled={{ .Values.dsp.config.oid4vp.proxy.enabled }}
    oid4vp.proxy.host={{ .Values.dsp.config.oid4vp.proxy.host }}
    oid4vp.proxy.port={{ .Values.dsp.config.oid4vp.proxy.port }}

    testExtension.enabled={{ .Values.dsp.config.testExtension.enabled }}
    testExtension.controller.enabled={{ .Values.dsp.config.testExtension.controller.enabled }}
    testExtension.controller.port={{ .Values.dsp.config.testExtension.controller.port }}
    testExtension.controller.path={{ .Values.dsp.config.testExtension.controller.path }}
    testExtension.identity.enabled={{ .Values.dsp.config.testExtension.identity.enabled }}

    tmfExtension.enabled={{ .Values.dsp.config.tmfExtension.enabled }}
    tmfExtension.quoteApi={{ .Values.dsp.config.tmfExtension.quoteApi }}
    tmfExtension.agreementApi={{ .Values.dsp.config.tmfExtension.agreementApi }}
    tmfExtension.productOrderApi={{ .Values.dsp.config.tmfExtension.productOrderApi }}
    tmfExtension.productCatalogApi={{ .Values.dsp.config.tmfExtension.productCatalogApi }}
    tmfExtension.productInventoryApi={{ .Values.dsp.config.tmfExtension.productInventoryApi }}
    tmfExtension.usageManagementApi={{ .Values.dsp.config.tmfExtension.usageManagementApi }}
    tmfExtension.partyCatalogApi={{ .Values.dsp.config.tmfExtension.partyCatalogApi }}
    tmfExtension.catalog.enabled={{ .Values.dsp.config.tmfExtension.catalog.enabled }}

    fdscTransfer.enabled={{ .Values.dsp.config.fdscTransfer.enabled }}
    fdscTransfer.credentialsConfigAddress={{ .Values.dsp.config.fdscTransfer.credentialsConfigAddress }}
    fdscTransfer.transferHost={{ .Values.dsp.config.fdscTransfer.transferHost }}
    fdscTransfer.verifierHost={{ .Values.dsp.config.fdscTransfer.verifierHost }}
    fdscTransfer.verifierInternalHost={{ .Values.dsp.config.fdscTransfer.verifierInternalHost }}
    fdscTransfer.opaHost={{ .Values.dsp.config.fdscTransfer.opaHost }}
    fdscTransfer.odrlPapHost={{ .Values.dsp.config.fdscTransfer.odrlPapHost }}
    fdscTransfer.apisix.address={{ .Values.dsp.config.fdscTransfer.apisix.address }}
    fdscTransfer.apisix.token={{ .Values.dsp.config.fdscTransfer.apisix.token }}
    fdscTransfer.apisix.httpsProxy={{ .Values.dsp.config.fdscTransfer.apisix.httpsProxy }}

    edc.participant.id={{ .Values.dsp.config.edc.participant.id }}
    edc.log.level={{ .Values.dsp.config.edc.log.level }}
    edc.jsonld.https.enabled={{ .Values.dsp.config.edc.jsonld.https.enabled }}
    edc.jsonld.http.enabled={{ .Values.dsp.config.edc.jsonld.http.enabled }}
    {{- if .Values.dsp.config.edc.hostname }}
    edc.hostname={{ .Values.dsp.config.edc.hostname }}
    {{- end }}

    web.http.port={{ .Values.dsp.config.web.http.port }}
    web.http.management.path={{ .Values.dsp.config.web.http.management.path }}
    web.http.management.port={{ .Values.dsp.config.web.http.management.port }}
    web.http.protocol.path={{ .Values.dsp.config.web.http.protocol.path }}
    web.http.protocol.port={{ .Values.dsp.config.web.http.protocol.port }}
    web.http.control.path={{ .Values.dsp.config.web.http.control.path }}
    web.http.control.port={{ .Values.dsp.config.web.http.control.port }}
    web.http.catalog.path={{ .Values.dsp.config.web.http.catalog.path }}
    web.http.catalog.port={{ .Values.dsp.config.web.http.catalog.port }}
    web.http.version.path={{ .Values.dsp.config.web.http.version.path }}
    web.http.version.port={{ .Values.dsp.config.web.http.version.port }}

{{- end }}
