{{- if .Values.registration.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.registration.configMap }}
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    {{- include "dsc.labels" . | nindent 4 }}
data:
  init.sh: |-
    {{- if .Values.registration.prepScript }}
    # Prep script
    {{ .Values.registration.prepScript }} 
    {{- end }}
    {{- $registration := .Values.registration}}
    {{- range $index, $credentialType := .Values.registration.credentialTypes }}

    # credentials config service registration
    curl -v -X 'POST' \
      '{{ $registration.til }}/issuer' \
      -H 'accept: */*' \
      -H 'Content-Type: application/json' \
      -d "{
      \"did\": \"{{ $registration.did }}\",
      \"credentials\": [
        {{- $last := sub (len $registration.credentialTypes) 1 -}}
        {{- range $index, $credentialType := $registration.credentialTypes }}
          {
            \"credentialsType\": \"{{ $credentialType }}\"
          }{{- if lt $index $last }},{{ end }}
        {{- end }}
      ]
    }"
    {{- end }}

{{- end }}