apiVersion: v2
name: trust-anchor
description: Umbrella Chart to provide a minimal trust anchor for a FIWARE Dataspace
version: 0.2.1
dependencies:
  - name: trusted-issuers-list
    condition: trusted-issuers-list.enabled
    version: 0.15.0
    repository: https://fiware.github.io/helm-charts
  - name: mysql
    condition: mysql.enabled
    version: 9.4.4
    repository: https://charts.bitnami.com/bitnami
