postgres-operator:
  # -- should the postgres-operator be installed
  enabled: true
  configKubernetes:
    enable_readiness_probe: true

## Usage of the postgres-operator - see https://github.com/zalando/postgres-operator
managedPostgres:
  # -- should it be enabled? Requires the postgres-operator CRDs to be installed before applying the chart
  enabled: true
  # -- config as defined in https://github.com/zalando/postgres-operator/blob/master/charts/postgres-operator/crds/postgresqls.yaml
  config:
    teamId: "trust-anchor"
    numberOfInstances: 1
    postgresql:
      version: "16"
    volume:
      size: 1Gi
    users:
      admin: # maintainer
        - superuser
        - createdb
      tir:
        - createdb
    databases:
      tirdb: tir
    patroni:
      pg_hba: # Allow connections without ssl as db is not exposed
        - local   all all           trust
        - hostssl all all 0.0.0.0/0 md5
        - host    all all 0.0.0.0/0 md5

# -- configuration for the trusted-issuers-list to be deployed as part of the trust-anchor, see https://github.com/FIWARE/helm-charts/tree/main/charts/trusted-issuers-list for all options
trusted-issuers-list:
  # -- should it be enabled? set to false if one outside the chart is used.
  enabled: true
  # -- allows to set a fixed name for the services
  fullnameOverride: tir
  # -- connection to the database
  database:
    # -- should persistence be used?
    persistence: true
    # -- name of the db dialect
    dialect: POSTGRES
    # -- name of the db user
    username: postgres
    # -- configuration for the existing secret to get the passwords from
    existingSecret:
      enabled: true
      name: postgres.postgres.credentials.postgresql.acid.zalan.do
      key: password
    # -- host of the database
    host: postgres
    # -- host of the database
    port: 5432
    # -- name of the schema inside the db
    name: tirdb
