name: Pre-Release

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

jobs:

  generate-version:
    name: Generate version
    runs-on: ubuntu-latest
    
    outputs:
      version: ${{ steps.out.outputs.version }}
      plain-version: ${{ steps.out.outputs.plain-version }}

    steps:
      - uses: actions/checkout@v5

      - id: bump
        uses: zwaldowski/match-label-action@v1
        with:
          allowed: major,minor,patch

      - uses: zwaldowski/semver-release-action@v2
        with:
          dry_run: true
          bump: ${{ steps.bump.outputs.match }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get PR Number
        id: pr_number
        run: |
          NR=$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')
          echo "nr=$NR" >> $GITHUB_OUTPUT

      - name: Set version output
        id: out
        run: |
          echo "version=${VERSION}-PRE-${{ steps.pr_number.outputs.nr }}" >> $GITHUB_OUTPUT
          echo "plain-version=${VERSION}" >> $GITHUB_OUTPUT

          
  git-release:
    needs: ["generate-version"]
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v5

      - name: Generate Table of contents
        uses: technote-space/toc-generator@v4
        with:
          TARGET_PATHS: "./README.md,./doc/README.md"
          COMMIT_MESSAGE: "Update ToC"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ needs.generate-version.outputs.version }}
          prerelease: true
          title: ${{ needs.generate-version.outputs.version }}
